* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-center {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
}

.toggle-button {
  font-size: 1.5rem;
  color: #1c9eca;
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-button:hover {
  color: #006485;
}

ul {
  list-style-type: none;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #4e4e4e;
  padding: 0.5rem 1rem;
  transition: 200ms;
}

.link:hover {
  background-color: #ececec;
  color: #1c9eca;
  padding-left: 1.5rem;
}

.links-container {
  overflow: hidden;
  transition: 200ms;
}

.social-icons {
  display: none;
}

@media screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }

  .nav-header {
    padding: 0;
  }

  .nav-center {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .links-container {
    height: auto !important;
  }

  .links-container ul {
    display: flex;
    gap: 1rem;
  }

  .link {
    padding: 0;
    transition: none;
  }

  .link:hover {
    background: transparent;
    color: #1c9eca;
    padding: 0;
  }

  .social-icons {
    display: flex;
    gap: 0.3rem;
  }

  .social-icons a {
    color: #1c9eca;
  }

  .social-icons a:hover {
    color: #006485;
  }
}
